{extend name='temp/base' /}
{block name='title'}首页{/block}
{block name='headcss'}
<style>
    .list_box {
        background: #fff;
        margin-top: 12px;
    }

    .list {
        position: relative;
        border-bottom: 1px solid #DCDCDC;
        line-height: 45px;
        min-height: 45px;
        color: #333333;
    }

    .posi_left {
        position: absolute;
        left: 12px;
    }

    .pos_center {
        padding-left: 100px;
        display: inline-block;
    }

    input {
        width: 200px;
        line-height: 36px;
        border: none;
        outline: none;
    }

</style>
{/block}
{block name='content'}
<div class="head-title">
    <div onclick="goback()" class="goback">

    </div>
    修改密码
    <div class="title_position_right" id="btn">
        提交
    </div>
</div>
<div class="list_box">

    <div class="list">
        <div style="padding-left: 2em;" class="posi_left">
            原密码
        </div>
        <div class="pos_center">
            <input type="password" id="pass1"/>
        </div>
        <div type=""></div>
    </div>

    <div class="list">
        <div style="padding-left: 2em;" class="posi_left">
            新密码
        </div>
        <div class="pos_center">
            <input type="password" id="pass2"/>
        </div>
    </div>
    <div class="list">
        <div class="posi_left">
            确认新密码
        </div>
        <div class="pos_center">
            <input type="password" id="pass3"/>
        </div>
    </div>

</div>


{/block}
{block name="footerjs"}


<script type="text/javascript">

    document.getElementById('btn').onclick = function () {
        var pass1 = document.getElementById('pass1').value;
        var pass2 = document.getElementById('pass2').value;
        var pass3 = document.getElementById('pass3').value;

        if (!pass1) {
            alert('原密码不能为空');
            return;
        }
        if (!pass2) {
            alert('新密码不能为空');
            return;
        }
        if (!(pass2.length >= 6)) {
            alert('新密码不能小于6位!');
            return;
        }
        if (pass2 !== pass3) {
            alert('两次输入不一致!');
            return;
        }
        $.ajax({
            url: 'change_password2?pass1=' + pass1 + '&pass2=' + pass2 + '&pass3=' + pass3,
            type: 'GET',
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                if (result == '修改成功!') {
                    alert(result);
                    window.setTimeout("goback()", 1000);

                } else {
                    alert(result);
                }
            },
            cancel: function (result) {
                alert('获取信息失败:' + result);
            }

        });
    };

</script>
{/block}
