 <link href="__ADMIN_STATIC__/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
 <script src="__ADMIN_STATIC__/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="__ADMIN_STATIC__/js/plugins/dataTables/dataTables.bootstrap.js"></script> 
<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>文件备份列表</h5>
		
	</div>
	<div class="ibox-content">

		<div id="editable_wrapper" class="dataTables_wrapper form-inline" role="grid">

			<table class="table table-striped table-bordered table-hover  dataTable dataTables-example" id="editable" aria-describedby="editable_info">
				<thead>
					<tr role="row">
						<th>文件名称</th>
						<th>文件大小</th>
						<th>备份时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{empty name='list'}
					<tr class="table-empty"  rowspan="10">
						<td class="text-center empty-info" colspan="13">
                                <i class="fa fa-database"></i> 暂无数据<br>
                                        </td>
                                    </tr>
					{/empty}
					{volist name="list" id="table"}
					<tr class="gradeA even">
						<td>{$table.name}</td>
						<td>{$table.size}</td>
						<td>{$table.addtime}</td>
						<td>
							<span onclick="recover({$table.time})" class="btn btns btn-success">恢复</span>
							<a href="{:url('downfile',['time'=>$table['time']])}"><span onclick="" class="btn btns btn-warning">下载</span></a>
							<span onclick="del({$table.time})" class="btn btns btn-del">删除</span>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			<div class="clearfix">
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	  $('.dataTables-example').dataTable();
	  function recover(time){
			layer.confirm('确定要恢复吗',{
			time:0,
			btn:['确定','取消'],
			yes:function(index){
				$.ajax({
					type:"POST",
					data: {time: time},
					url:'{:url("import")}',
					async:true,
					success:function(msg){
						alert(msg.msg)
						if(msg.code == 1){
							setTimeout(function(){
			             		location.reload();
			                },1000);	
		               }
					}
				});
			},	
		})	
	  }
  	  function del(time){
			layer.confirm('确定要删除吗',{
			time:0,
			btn:['确定','取消'],
			yes:function(index){
				$.ajax({
					type:"POST",
					data: {time: time},
					url:'{:url("delSqlFiles")}',
					async:true,
					success:function(msg){
						alert(msg.msg)
						if(msg.code == 1){
							setTimeout(function(){
			             		location.reload();
			                },1000);	
		               }
					}
				});
			},	
		})	
	  }
</script>