<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>施工</h5>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">主页</a>
                </li>
                <li>
                    <strong>导航</strong>
                </li>
            </ol>
		
	</div>
	<div class="ibox-content">
		<div class="">
		<h3>劳务：</h3>
			<a style="color: ###;margin:50px; font-size: 20px;" href="{:url('admin/construction/ServiceClearIndex')}" class="btn btn-warning ">完工结算</a><b style="font-size:20px">————————></b>
			<a href="{:url('admin/construction/ServiceRateIndex')}" class="btn btn-danger ">付款申请</a>
        </div>
	</div>
	<div class="other-footer">
	<a href="{:url('admin/construction/quality_index')}" class="btn btn-warning "><i class="iconfont icon-jia"></i>--质量检查--</a>
	<a href="{:url('admin/construction/safe_index')}" class="btn btn-warning "><i class="iconfont icon-jia"></i>--安全日志--</a>
	<a href="{:url('admin/construction/change_index')}" class="btn btn-warning "><i class="iconfont icon-jia"></i>--设计变更--</a>
	<a href="{:url('admin/construction/makeplan_index')}" class="btn btn-warning "><i class="iconfont icon-jia"></i>--技术交底--</a>
	<a href="{:url('admin/construction/buildlog_index')}" class="btn btn-warning "><i class="iconfont icon-jia"></i>--施工日志--</a>



	</div>
</div>





	